@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Nanum+Myeongjo&family=Rajdhani:wght@300&display=swap');

body {
    margin: 0px;
    font-family:Rajdhani;
    background-color:white ;
}

nav , nav a:visited{
    color:rgb(229, 229, 208);
    font-weight:bold;
    padding: 50px 10px;
    margin-top: -20px;
    background-color: #a8b99d;
}

a , a:visited{
    color:rgb(6, 64, 26) ;
    font-weight:bold;
}

nav a, nav:visited{
    margin-left: 5px;
    margin-right:10px;
}


main{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 10px;
    gap: 10px ;
    margin-top: -50px;
}

section {
    background-color: #ebedcd;
    padding: 10px 10px;
    font-weight: bold;
}

#inspo{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.shape{
    
}

section h3{
    font-size: 28px;
    margin-bottom: -15px;
}

section a{
    font-size: 20px;
}


footer{
    padding: 20px 10px;
    margin-top: 80px;
    background-color: #a8b99d;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color:rgb(229, 229, 208);
}