body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #408263;
    padding: 30px;
}

section {
    display:inline-block;
    padding: 20px;
    border: solid 1px #000;
    margin-bottom: 10px;
    margin-top: 50px;
}

section {
    background-color: #fff;
    margin-top:50px ; 
}

main{
    background-color: #808080
    ;
}

