body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #408263;
    padding: 30px;
}

section {
    display:inline-block;
    padding: 20px;
}

section < p {
    background-color: #white;
}

main{
    background-color: #eee;
}

