body {
    font-family: Arial, Helvetica, sans-serif;
    color : hotpink;
    padding: 10px;
    border: solid 1px #000;
}

header {
    background-color: yellow;
    padding: 30px;
}
/* #second-one{
    background-color: ;
} */

section {
            display:inline-block;
    padding: 20px;
    border: solid 1px #000;
    margin-bottom: 10px;
    margin-top: 50px;
}

section {
    background-color: #fff;
    margin-top:50px ; 
}
section p {
    font-weight: bold;
}

main{
    background-color:lightgray;
    ;
}

