*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    align-items: ;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
    background: #191978;
}
.wrapper{
    width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: o 15px 40px rgba(0, 0,0, 0.12);
}
.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .ixon{
    display: flex;
}

header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}